body {
  overflow-x: hidden;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* .menu-toggle-container {
  position: absolute;
  right: 30px;
  top: 30px;
} */

/*Loading CSS*/
.lds-grid-container{
  position: relative;
}
.lds-grid {
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  transform: translate(-50%, -50%);
}
.lds-grid div {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgb(43, 175, 87);
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 40px;
  left: 40px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 40px;
  left: 160px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 40px;
  left: 280px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 160px;
  left: 40px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 160px;
  left: 160px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 160px;
  left: 280px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 280px;
  left: 40px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 280px;
  left: 160px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 280px;
  left: 280px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
/* //Loading CSS */

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
  #map {
  height: 400px;
  width: 50%;
}


/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
