<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css" >

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/stylesheets/simple-sidebar.css" >
</head>
<body>

    <div id="wrapper">
        {{> sidebarNotLoggedIn }}
        <!-- Page Content -->

        <div class='menu-toggle' style="right: 1000px;top: 30px;">
          <div class='menu-toggle-container'>
            <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Menu</a>
          </div>
        </div>
        
        <div id="page-content-wrapper">
            <div class="container-fluid">
                {{{body}}}
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
