<h1>Hello!</h1>
<p>It looks like you have yet to login to Spotify</p>
<p>Press the button below to link your account!</p>
<p><code>------------ >  </code><a href="/login" class="btn btn-secondary" id="linkSpotify">Link Spotify</a><code>  < ------------</code></p>

{{!-- <script type="text/javascript">

var linkSpotify = document.getElementById('linkSpotify');

linkSpotify.onclick = function(){

    var script = document.createElement("script");
    script.type = "text/javascript";
    script.src = "public/js/linkSpotify.js."; 
    document.getElementsByTagName("head")[0].appendChild(script);
    return false;

}


</script> --}}