<h1>Hello!</h1>
<p>It looks like you have yet to login to Spotify</p>
<p>Press the button below to link your account!</p>
<p><code>------------ >  </code><a href="/login" class="btn btn-secondary" id="linkSpotify">Link Spotify</a><code>  < ------------</code></p>
