<h1>{{project}}</h1>
<p>This project is for {{reason}}</p>
<p>This project is the culmination of a bunch of different APIs used to create a personally curated Spotify playlist based on artists located near a selected area.</p>
<u><p>API's Used</p></u>
<p>
    <ul>
        <li><code>Spotify's Developer API</code>
            <ul>
                <li><a href="https://developer.spotify.com/documentation/general/guides/authorization-guide/" target="_blank" class="btn" id="authentication">Authentication</a></li>
                <li><a href="https://developer.spotify.com/console/get-search-item/" target="_blank" class="btn" id="search">Search</a></li>
                <li><a href="https://developer.spotify.com/console/get-current-user-top-artists-and-tracks/" target="_blank" class="btn" id="personalization">Personalization</a></li>
                <li><a href="https://developer.spotify.com/console/playlists/" target="_blank" class="btn" id="playlists">Playlists</a></li>
                <li><a href="https://developer.spotify.com/console/get-current-user/" target="_blank" class="btn" id="usersProfile">User's Profile</a></li>
            </ul>
        </li>
        <li><code>Google API's</code>
            <ul>
                <li><a href="https://developers.google.com/maps/documentation/javascript/reference/#Marker" class="btn" id="mapsJavascriptAPI">Maps Javascript API</a></li>
                <li><a href="https://developers.google.com/maps/documentation/geocoding/intro#ReverseGeocoding" class="btn" id="geocodingAPI">Geocoding API</a></li>
            </ul>
        </li>
        <li><code>GeoName's WebService API</code>
            <li><a href="http://www.geonames.org/export/web-services.html" class="btn" id="getNearbyCities">Get Nearby Cities</a></li>
        </li>
    </ul>
</p>
<a href="/geoPlaylist/map" class="btn btn-secondary" id="gotoloading">Begin</a>