<h1>{{title}}</h1>
<p>Welcome to Ryan's {{title}}</p>
<p>First thing you should do is to go to the account tab and link your spotify account so you can use 100% of the app. You'll be restricted otherwise</p>
<p><code>- Ryan</code></p>

