<h1>Your Account</h1>
<p>Welcome, <code id='display_name'></code></p>
<p>You are now free to use the rest of the app</p>
<p><code>------------ >  </code><a href="/logout" class="btn btn-secondary" id="logout">Logout</a><code>  < ------------</code></p>